.calculator {
    @include flex(center, center, column, 20px);
    background-color: #111109;
    width: 100%;
    height: 80%;

    .logo {
        color: white;
        font-family: $logo;
        font-size: 2rem;

        img {
            margin-right: 10px;
            width: 3rem;
            height: 3rem;
        }

        @include mq(mobile) {
            display: none;
        }

        @include mq(tablet) {
            display: none;
        }

        @include mq(desktopM) {
            font-size: 2.5rem;
        }

        @include mq(desktopL) {
            font-size: 3rem;
        }

        @include mq(4k) {
            font-size: 4rem;
        }
    }

    @include mq(desktopS) {
        width: 30%;
        border: 1rem solid black;
        border-radius: 2rem;
        padding: 2rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    @include mq(desktopM) {
        width: 30%;
        border: 1rem solid black;
        border-radius: 2rem;
        padding: 2rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    @include mq(desktopL) {
        width: 30%;
        border: 1rem solid black;
        border-radius: 2rem;
        padding: 2rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    @include mq(4k) {
        width: 30%;
        border: 1rem solid black;
        border-radius: 2rem;
        padding: 2rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .screen {
        width: 95%;
        font-size: 5rem;
        text-align: right;
        padding-left: .8rem;
        padding-right: .8rem;
        border-radius: 1rem;
        background-color: #003311;
        color: black;
        font-family: $font;
        font-weight: bold;

        @include mq(tablet) {
            font-size: 6rem;
        }

        @include mq(desktopS) {
            width: 100%;
            font-size: 2.5rem;
        }

        @include mq(desktopM) {
            width: 100%;
            font-size: 3rem;
        }

        @include mq(desktopL) {
            width: 100%;
            font-size: 3.5rem;
        }

        @include mq(4k) {
            width: 100%;
            font-size: 4rem;
        }

    }


}